*{
	margin: 0;
	padding: 0;
}
@media only screen and (min-width:380px) and (max-width:630px) {
	.picture{width: 120px;height: auto;}
	.back{width:auto;height: 30px;}
	html{font-size:12px;}
}
@media only screen and (max-width:380px) {
	.picture{width: 90px;height: auto;}
	.back{width: auto;height: 20px;}
	html{font-size:8px;}
	
}
body{
	width: 100%;
	max-width: 720px;
	min-width: 320px;
	margin: 0 auto;
	font-size:1.5rem;
}
.header{
	position: relative;
	width: 100%;
	background-color:#5fc0cd;
	margin: 0;
	padding: 0;
}
.header a{
	position: absolute;
	top:10%;
	left:5%;
}
.header h2{
	text-align: center;
	color:white;
	padding:1%;
}
.content{
	background: url(../img/T5-2.png) no-repeat;
    width: 100%;
    float:left;
    color: white;
}
.photo{
	width: 20%;
    padding: 10% 5%;
	float: left;
}
.data{
    width:60%;
    padding: 15% 5%;
    float: right;
}
.address{
	font-size:1rem;
}
.skill{
	background: url(../img/T5-4.png) 5% 50% no-repeat;
	width: 80%;
	float: left;
	padding:2% 10%;
	border-bottom: 1px #999999 solid;
}
.require{
	width: 100%;
	border-bottom: 1px #999999 solid;
	float: left;
}
.hospice{
	background: url(../img/T5-5.png) 10% 50% no-repeat,url(../img/T5-6.png) 95% 50% no-repeat;
	width: 10%;
	float: left;
	margin-left: 5%;
	padding: 2% 0 2% 5%;
}
.meal{
	background: url(../img/T5-5.png) 1% 50% no-repeat;
	width: 70%;
	float: left;
	padding: 2% 5%;
}
.part1,.part2,.part3,.part4{
	width: 100%;
	float: right;
	border-bottom: 1px #e1e5e7 solid;
}
.job-year,.work-time,.survice,.self-introduce{
	background:url(../img/T5-6.png)80% 50% no-repeat;
	width: 20%;
	margin-left: 5%;
	padding: 2% 2%;
	float: left;
	color: #999999;
}
.year,.allday,.price,.jobs{
	width:69%;
	padding: 2% 1%;
	float: left;
	color: black;
	}
.price{
	color:#e26163;
}
.jobs{
	font-size: 1.25rem;
}
.message{
	width:35%;
	margin: 5% 5% 2% 8%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	border: solid 3px #5fc0cd;
	text-align: center;
	float:left;
	font-size: 1.75rem;
	color: #5FC0CD;
}
.phone{
	width: 35%;
	margin: 5% 8% 2% 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	border: solid 3px #5fc0cd;
	background-color: #5fc0cd;
	text-align: center;
	float: right;
	font-size: 1.75rem;
	color:white;
}